{% extends '::base.reporte.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-9 cabecera-logo-simon text-center">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/bundles/admin/img/logo-simon-header.png" alt="">
            </div>
            <div class="col-xs-3 cabecera-logo-alcaldia">
                <img src="{{ app.request.getSchemeAndHttpHost() }}/bundles/admin/img/logos-inder-alcaldia.png" alt="">
            </div>
        </div>
        <br>
        <h1>
            {% for menu in admin.breadcrumbs('list') %}
                {% if loop.last  %}{{ menu.label | trans }}{% endif %}
            {% endfor %}
        </h1>
        <br>
        <table class="table table-bordered table-striped">
            {% for row in admin.dataSourceIterator %}
                {% if loop.first %}
                    <thead>
                        <tr>
                            {% for header, value in row %}
                                <th>{{ header }}</th>
                                {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                {% if loop.first %}<tbody>{% endif %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value | raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                {% if admin.dataSourceIterator|length > 0 %}</tbody>{% endif %}
        </table>
    </div>
{% endblock %}