{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{#{% set oferta = obtenerOferta(app.request.get('filter')['oferta']['value'])%}#}

{%- block actions -%}

    {% if  idSistemaJuego != 0 %}

        {% spaceless %}
                <li class="btn btn-agregar-nuevo">
                    <a class="sonata-action-element"  href="{{ admin.generateUrl('create', {sistemaJuegoUno:idSistemaJuego , tipoDeSistemaDeJuego:tipoDeSistema}) }}">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
                     </a> 
                </li>
        {% endspaceless %}

        {% spaceless %}
                <li class="btn btn-agregar-nuevo">
                    <a class="sonata-action-element"  href="{{path('reporte_encuentros_sistema_uno', {idevento: eventoId ,sistemaJuegoUno:idSistemaJuego} )}}">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        {% trans %}formulario_escalera.descargar{% endtrans %}
                    </a> 
                </li>
        {% endspaceless %}

    {% endif %}

{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block title %}
    {#
        The list template can be used in nested mode,
        so we define the title corresponding to the parent's admin.
    #}

    {% if admin.isChild and admin.parent.subject %}
        {{ "title_edit"|trans({'%name%': admin.parent.toString(admin.parent.subject)|truncate(15) }, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">  
        <li><a href="{{ url('sonata_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
        <li><a href="{{ url('admin_logic_evento_list') }}">{% trans %}Evento List{% endtrans %}</a></li>  
        <li><a href="{{ url('admin_logic_evento_configuracion',{ 'id': eventoId}) }}">{{ nombreEvento }}</a></li>       
        <li class="active">
        {% if tipoDeSistema == 1 %}
            {% trans %}Escalera List{% endtrans %}
        {% elseif tipoDeSistema == 2 %}
            {% trans %}Piramide List{% endtrans %}
        {% elseif tipoDeSistema == 3 %}
            {% trans %}Chimenea List{% endtrans %}
        {% endif %}
        </li>
    </ol>
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block notice %}
    {% for type in sonata_flashmessages_types() %}
        {% set domain = domain is defined ? domain : null %}
        {% for message in sonata_flashmessages_get(type, domain) %}
            <div class="alert alert-{{ type|sonata_status_class }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message|raw |trans}}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock notice %}

    
{% block informacion_adicional %}

    {% include 'AdminBundle:Evento/Tabs:tab.html.twig' with {activo: 4 , idevento: eventoId  ,  tabActivo: 'clasificacionCalendario'} %}
    
    {% include 'AdminBundle:Evento/Tabs:tabsConfiguracion.html.twig' with {activo: 4 , idevento: eventoId, tabActivo: tipoDeSistema , guardado :guardado} %}

    {% if  alertaSis == 0 %}
        <div class="alert alert-warning">
            <strong>{% trans %}sistemasJuego_select{% endtrans %}</strong>
        </div>
    {% endif %}
    

    {% if  tipoDeSistema == 0 %}

            <div class="row">
                <div class="col-md-12 sombra">
                    {% if  instalaciones != null%}
                        {% if  instalaciones.nombre is defined %} 
                            <h4>{% trans %}formulario_ninguno.EscenarioDepor{% endtrans %}</h4><br>
                            <h4>{{instalaciones.nombre}}</h4><br>
                        {% else %}
                            <h4>{% trans %}formulario_ninguno.punto_atencion{% endtrans %}</h4><br>
                        {% endif %}
                        {% if  instalaciones.telefono is defined %} 
                            <h4>{{instalaciones.telefono}}</h4><br>
                        {% endif %}
                        {% if  instalaciones.email is defined %} 
                            <h4>{{instalaciones.email}}</h4><br>
                        {% endif %}
                        <h4>{{instalaciones.direccion}}</h4><br>
                        <h4>{{instalaciones.barrio}}</h4><br>
                    {% endif %}
                </div>

                <div class="col-md-12">
                    <div align="right">
                        <br><br>
                        <a href="{{ path('admin_logic_evento_sanciones',{ 'id': eventoId} ) }}" class="btn btn-md btnVerde">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            {{ 'Continuar'|trans}}
                        </a>
                    </div>
                </div>
            </div>
    {% endif %}

    {% if  tipoDeSistema != 0 %}
    
    {% if  idSistemaJuego == 0 %}
     <div class="row">
        {{ form_start(form, {'attr': {'id': 'formulario_escalera_sistemaJuegoUno', novalidate: 'true'} } ) }}
            <div class="col-md-12">
                   <div class="alert alert-warning">
                        <strong>{% trans %}sistemasJuego_seleccion{% endtrans %}</strong>
                   </div>
            </div>

            <div class="col-md-12">
                   <label>{% trans %}formulario_escalera.label{% endtrans %}</label>
            </div>

            <div class="col-md-4 p-right10">
                    {{form_label(formSitemaJuegoUno.puntos_derrota)}}
                    {{form_widget(formSitemaJuegoUno.puntos_derrota)}}
                    {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : formSitemaJuegoUno.puntos_derrota.vars.errors }%}
            </div>

            <div class="col-md-4 p-right10">
                    {{form_label(formSitemaJuegoUno.puntos_empate)}}
                    {{form_widget(formSitemaJuegoUno.puntos_empate)}}
                    {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : formSitemaJuegoUno.puntos_empate.vars.errors }%}
            </div>

            <div class="col-md-4">
                    {{form_label(formSitemaJuegoUno.puntos_victoria)}}
                    {{form_widget(formSitemaJuegoUno.puntos_victoria)}}
                    {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : formSitemaJuegoUno.puntos_victoria.vars.errors }%}
            </div>

            
            <div class="col-md-4 p-right10">
                    <br>
                    {{form_label(formSitemaJuegoUno.puntos_para_ganar)}}
                    {{form_widget(formSitemaJuegoUno.puntos_para_ganar)}}
                    {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : formSitemaJuegoUno.puntos_para_ganar.vars.errors }%}       
            </div>

            <div class="col-md-12">
                <br>
                {{ form_widget(formSitemaJuegoUno.agregar, { 'id': 'btnguardar', 'class' : 'btn btnVerde' }) }}
            </div>


            <div style="display: none;">
                    {{ form_rest(formSitemaJuegoUno) }}
            </div>
      
        {{ form_end(formSitemaJuegoUno) }}
        </div>

    {% endif %}

    {% endif %}
{#prueba cambio de pestaña#}

        {% if  tipoDeSistema != 0 %}

        <div class="row">
                <div class="col-md-12 sombra">

                    <div class="nav-tabs-custom">
                                    
                        <div class="col-md-12 tab-content padding-total20">
                            <!-- Configuración -->
                            <div class="col-md-12 tab-pane active " >
                                <!-- botones internos evento y inscripción -->
                                
                                <div class="nav-tabs-custom">
                                    <ul class="nav d-flex tab-btn-interno">
                                        <li class="marginR10 active">
                                            <a href="#grupo-a-info" data-toggle="tab" aria-expanded="true" id="grupo-a">
                                                <button class="btn btn-default">
                                                    <i class="fa fa-users" aria-hidden="true"></i>
                                                Encuentros
                                                </button>
                                            </a>
                                        </li>
                                        <li class="marginR10">
                                            <a href="#grupo-b-info" data-toggle="tab" aria-expanded="false" id="grupo-b">
                                                <button class="btn btn-default">
                                                    <i class="fa fa-users" aria-hidden="true"></i>
                                                    Posiciones
                                                </button>
                                            </a>
                                        </li>
                                        <a type="button" class="btn-regresar sonata-action-element" href="{{ path('admin_logic_evento_equiposParticipantes', { 'id':eventoId } ) }}" style="padding: 5px 12px 3px 12px; position: absolute; right: 0;">
                                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                            {{ 'admin.detallesolicitud.volver' | trans }}
                                        </a>
                                    </ul>
                                    
                                    <br>

                                    <div class="col-md-12 tab-pane" id="grupo-b-info">

                                    <div class="col-md-12 posicionesTitula">
                                        <h3>posiciones</h3>
                                    </div>
                                    

                                         {% if  tablaPosiciones != 0 %}  

                                            <div class="col-md-12">
                                            
                                                    <table class="table tablaPreinscrito">
                                                        <tbody>
                                                            <tr>
                                                            <th>Posicion</th>
                                                            <th>Competidor</th>
                                                            <th>Puntos</th>
                                                            </tr>
                                                        {% set i =1 %}
                                                        {% for tabla in tablaPosiciones %}
                                                            <tr>
                                                        
                                                            <td>{{i}}</td>
                                                            <td>{{tabla.nombre}}</td>
                                                            <td>{{tabla.puntos}}</td>
                                                            </tr>

                                                            {% set i = i + 1  %}
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="linea-gris"></div>                                        
                                    
                                </div>
                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <br><br>
        {% endif %}

{% endblock %}
    

{% block list_table %}
 <div class="col-md-12 tab-pane active" id="grupo-a-info">
                                                          
{% if  tipoDeSistema != 0 %}
        <div class="col-xs-12 col-md-12">
                {% set batchactions = admin.batchactions %}
                {% if admin.hasRoute('batch') and batchactions|length %}
                    <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters, 'id':eventoId , 'tipo': tipoDeSistema  }) }}" method="POST" >
                        <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
                    {% endif %}

                    {# Add a margin if no pager to prevent dropdown cropping on window #}
                    <div class="box box-primary" {% if admin.datagrid.pager.lastPage == 1 %}style="margin-bottom: 100px;"{% endif %}>
                        <div class="box-body {% if admin.datagrid.results|length > 0 %}table-responsive no-padding{% endif %}">
                            {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
                        {% block list_header %}{% endblock %}

                        {% if admin.datagrid.results|length > 0 %}
                            <table class="table table-bordered table-striped sonata-ba-list tablaPreinscrito">
                                {% block table_header %}
                                    <thead>
                                        <tr class="sonata-ba-list-field-header">
                                            {% for field_description in admin.list.elements %}
                                                {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                                        <input type="checkbox" id="list_batch_checkbox">
                                                    </th>
                                                {% elseif field_description.getOption('code') == '_select' %}
                                                    <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                                                    {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                                                        {# Action buttons disabled in ajax view! #}
                                                    {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
                                                        {# Disable fields with 'ajax_hidden' option set to true #}
                                                    {% else %}
                                                        {% set sortable = false %}
                                                        {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                                            {% set sortable             = true %}
                                                            {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                                            {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
                                                            {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                                            {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                                        {% endif %}

                                                    {% spaceless %}
                                                        <th class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}{% if field_description.options.header_class is defined %} {{ field_description.options.header_class }}{% endif %}"{% if field_description.options.header_style is defined %} style="{{ field_description.options.header_style }}"{% endif %}>
                                                            {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                                                {% if field_description.getOption('label_icon') %}
                                                                    <i class="sonata-ba-list-field-header-label-icon {{ field_description.getOption('label_icon') }}" aria-hidden="true"></i>
                                                                {% endif %}
                                                                {{ field_description.label|trans({}, field_description.translationDomain) }}
                                                                {% if sortable %}</a>{% endif %}
                                                        </th>
                                                    {% endspaceless %}
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                {% endblock %}

                                {% block table_body %}
                                    <tbody>
                                        {% include admin.getTemplate('outer_list_rows_' ~ admin.getListMode()) %}
                                    </tbody>
                                {% endblock %}

                                {% block table_footer %}
                                {% endblock %}
                            </table>
                        {% else %}
                            {% block no_result_content %}
                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</span>
                                        <div class="progress">
                                            <div class="progress-bar" style="width: 0%"></div>
                                        </div>
                                        <span class="progress-description">
                                            {% if not app.request.xmlHttpRequest %}
                                                {% if  idSistemaJuego > 0 %}  
                                                <ul class="list-unstyled">
                                                    <a class="sonata-action-element"  href="{{ admin.generateUrl('create', {sistemaJuegoUno:idSistemaJuego , tipoDeSistemaDeJuego:tipoDeSistema}) }}">
                                                         <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                            {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
                                                    </a> 
                                                </ul>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                    </div><!-- /.info-box-content -->
                                </div>
                            {% endblock %}
                        {% endif %}

                        {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
                    </div>
                    {% block list_footer %}
                        {% if admin.datagrid.results|length > 0 %}
                            <div class="box-footer">
                                <div class="form-inline clearfix">
                                    {% if not app.request.isXmlHttpRequest %}
                                        <div class="pull-left">
                                            {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                                                {% block batch %}
                                                    <script>
                                                        {% block batch_javascript %}
                                                            jQuery(document).ready(function ($) {
                                                                // Toggle individual checkboxes when the batch checkbox is changed
                                                                $('#list_batch_checkbox').on('ifChanged change', function () {
                                                                    var checkboxes = $(this)
                                                                            .closest('table')
                                                                            .find('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
                                                                            ;
                                                                    if (window.SONATA_CONFIG.USE_ICHECK) {
                                                                        checkboxes.iCheck($(this).is(':checked') ? 'check' : 'uncheck');
                                                                    } else {
                                                                        checkboxes.prop('checked', this.checked);
                                                                    }
                                                                });

                                                                // Add a CSS class to rows when they are selected
                                                                $('td.sonata-ba-list-field-batch input[type="checkbox"], div.sonata-ba-list-field-batch input[type="checkbox"]')
                                                                        .on('ifChanged change', function () {
                                                                            $(this)
                                                                                    .closest('tr, div.sonata-ba-list-field-batch')
                                                                                    .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                                                    ;
                                                                        })
                                                                        .trigger('ifChanged')
                                                                        ;
                                                            });
                                                        {% endblock %}
                                                    </script>

                                                    {% block batch_actions %}
                                                        <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                                            <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                                            {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                                            ({{ admin.datagrid.pager.nbresults }})
                                                        </label>

                                                        <select name="action" style="width: auto; height: auto" class="form-control">
                                                            {% for action, options in batchactions %}
                                                                <option value="{{ action }}">{{ options.label|trans({}, options.translation_domain|default(admin.translationDomain)) }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    {% endblock %}

                                                    <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                                {% endblock %}
                                            {% endif %}
                                        </div>


                                        {# NEXT_MAJOR : remove this assignment #}
                                        {% set export_formats = export_formats|default(admin.exportFormats) %}

                                        <div class="pull-right">
                                            {% if admin.hasRoute('export') and admin.hasAccess('export') and export_formats|length %}
                                                
                                                &nbsp;-&nbsp;
                                            {% endif %}

                                            {% block pager_results %}
                                                {% include admin.getTemplate('pager_results') %}
                                            {% endblock %}
                                        </div>
                                    {% endif %}
                                </div>

                                {% block pager_links %}
                                    {% if admin.datagrid.pager.haveToPaginate() %}
                                        <hr/>
                                        {% include admin.getTemplate('pager_links') %}
                                    {% endif %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
                {% if admin.hasRoute('batch') and batchactions|length %}
                </form>
            {% endif %}
        </div>
    
{% endif %}

</div>  
{% endblock %}

{% block list_filters_actions %}

{% if  tipoDeSistema != 0 %}
    
        {%- if admin.datagrid.filters|length %}
    <ul class="nav navbar-nav navbar-right">
        <li class="sonata-actions">
            {#<a href="{{path('admin_logic_preinscripcionoferta_asistencia', {id:oferta.id} )}}" >
                <i class="fa fa-clock-o"></i> {{ 'titulo.asistencia' | trans}}
            </a>#}
        </li>
        <li class="dropdown sonata-actions">
            <a href="#" class="dropdown-toggle sonata-ba-action" data-toggle="dropdown">
                <i class="fa fa-filter" aria-hidden="true"></i>
                {{ 'link_filters'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b>
            </a>

            <ul class="dropdown-menu" role="menu">
                {% for filter in admin.datagrid.filters if (filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null) %}
                    {% set filterActive = ((filter.isActive() or filter.options['show_filter']) and not admin.isDefaultFilter(filter.formName)) %}
                    <li>
                        <a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">
                            <i class="fa {{ (filter.isActive() or filter.options['show_filter']) ? 'fa-check-square-o' : 'fa-square-o' }}"></i>{{ filter.label|trans({}, filter.translationDomain ?: admin.translationDomain) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endif -%}
   

{% endif %}
{% endblock %}

{% block list_filters %}

{% if  tipoDeSistema != 0 %}
         {% if is_granted('ROLE_ADMIN_ADMIN_EQUIPO_EVENTO_EDIT') or sonata_user.userAdmin.isGranted('ROLE_ADMIN_ADMIN_EQUIPO_EVENTO_EDIT', app.user) %}
        {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}

        <div class="col-xs-12 col-md-12 sonata-filters-box" style="display: {{ admin.datagrid.hasDisplayableFilters ? 'block' : 'none' }}" id="filter-container-{{ admin.uniqid() }}">
            <div class="box box-primary" >
                <div class="box-body">
                    <form class="sonata-filter-form form-horizontal {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                        {{ form_errors(form) }}

                        <div class="row">
                            <div class="col-sm-9">
                                {% set withAdvancedFilter = false %}
                                {% for filter in admin.datagrid.filters %}
                                    {% set filterActive = ((filter.isActive() and filter.options['show_filter'] is null) or (filter.options['show_filter'] is same as(true))) and not admin.isDefaultFilter(filter.formName) %}
                                    {% set filterVisible = filter.options['show_filter'] is same as(true) or filter.options['show_filter'] is null %}
                                    <div class="form-group {% block sonata_list_filter_group_class %}{% endblock %}" id="filter-{{ admin.uniqid }}-{{ filter.name }}" sonata-filter="{{ filterVisible ? 'true' : 'false' }}" style="display: {% if filterActive %}block{% else %}none{% endif %}">
                                        {% if filter.label is not same as(false) %}
                                            <label for="{{ form.children[filter.formName].children['value'].vars.id }}" class="col-sm-3 control-label">{{ filter.label|trans({}, filter.translationDomain ?: admin.translationDomain) }}</label>
                                        {% endif %}
                                        {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}

                                        <div class="col-sm-4 advanced-filter">
                                            {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                        </div>

                                        <div class="col-sm-4">
                                            {{ form_widget(form.children[filter.formName].children['value']) }}
                                        </div>

                                        <div class="col-sm-1">
                                            <label class="control-label">
                                                <a href="#" class="sonata-toggle-filter sonata-ba-action" filter-target="filter-{{ admin.uniqid }}-{{ filter.name }}" filter-container="filter-container-{{ admin.uniqid() }}">
                                                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                                </a>
                                            </label>
                                        </div>
                                    </div>

                                    {% if filter.options['advanced_filter'] %}
                                        {% set withAdvancedFilter = true %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 text-center">
                                <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                                {% set foo = form.children['_page'].setRendered() %}
                                {{ form_rest(form) }}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-filter" aria-hidden="true"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}
                                    </button>

                                    {#<a class="btn btn-default" href="{{ admin.generateUrl('list') }}?filter[oferta][value]={{oferta.id}}">
                                        {{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}
                                    </a>#}
                                </div>

                                {% if withAdvancedFilter %}
                                    <div class="form-group">
                                        <a href="#" data-toggle="advanced-filter">
                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                            {{ 'btn_advanced_filters'|trans({}, 'SonataAdminBundle') }}
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        {% for paramKey, paramValue in admin.persistentParameters %}
                            <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
        <span id="idsForm" data-oferta="filter-{{admin.uniqid}}-oferta"></span>
    {% endif %}
    {% endif %}

{% endif %}
    <script type="text/javascript">

    function isNumberKey(evt)
            {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                console.log(charCode);
                if (charCode != 46 && charCode != 45 && charCode > 31
                        && (charCode < 48 || charCode > 57))
                    return false;

                return true;
            }

            $('#encuentro_sistema_uno_puntos_derrota').keypress(function(eve) {
                if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57) || (eve.which == 46 && $(this).caret().start == 0) ) {
                eve.preventDefault();
            }
     

            $('#encuentro_sistema_uno_puntos_derrota').keyup(function(eve) {
                if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
                }
                });
            });


            $('#encuentro_sistema_uno_puntos_empate').keypress(function(eve) {
                if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57) || (eve.which == 46 && $(this).caret().start == 0) ) {
                eve.preventDefault();
            }
     

            $('#encuentro_sistema_uno_puntos_empate').keyup(function(eve) {
                if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
                }
                });
            });


            $('#encuentro_sistema_uno_puntos_victoria').keypress(function(eve) {
                if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57) || (eve.which == 46 && $(this).caret().start == 0) ) {
                eve.preventDefault();
            }
     

            $('#encuentro_sistema_uno_puntos_victoria').keyup(function(eve) {
                if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
                }
                });
            });

            $('#encuentro_sistema_uno_puntos_para_ganar').keypress(function(eve) {
                if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57) || (eve.which == 46 && $(this).caret().start == 0) ) {
                eve.preventDefault();
            }
     

            $('#encuentro_sistema_uno_puntos_para_ganar').keyup(function(eve) {
                if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
                }
                });
            });

    $(document).ready(function() {

            $('#grupo-a-info').show();
            $('#grupo-b-info').hide();
            $('.btn-agregar-nuevo').show();
            $('.sticky-wrapper').show();
            
    });

        $('#grupo-a').click(function(evt) {
            $('#grupo-a-info').show();
            $('#grupo-b-info').hide();
            $('.btn-agregar-nuevo').show();
            $('.sticky-wrapper').show();

        });

        $('#grupo-b').click(function(evt) {
            $('#grupo-a-info').hide();
            $('#grupo-b-info').show();
            $('.btn-agregar-nuevo').hide();
            $('.sticky-wrapper').hide();
        });
                                                                
    </script>

    <style>
        .posicionesTitula{
            color: #0099b1;
            font-weight: bold !important;
            background: #fff !important;
            border-bottom: 3px solid #0099b1 !important;
            margin-bottom: 20px !important;
        }
    </style>
{% endblock %}