{% extends 'AdminBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/jquery-confirm.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/registro.css') }}">
    <style>
        .breadcrumb {
            padding: 8px 15px !important;
            margin-bottom: 20px !important;
            list-style: none !important;
            background-color: #f5f5f5 !important;
            border-radius: 4px !important;
            float: inherit !important;
        }
    </style>
{% endblock %}
{% block title %}AdminBundle:Usuario:registro{% endblock %}
{% block sonata_page_content %}
    {% block sonata_admin_content %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper alto-contenido p-top">
            <!-- Migas de pan -->
            <section class="container-fluid">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                    <li><a href="#">Escenarios deportivos</a></li>
                    <li class="active">Crear</li>
                </ol>
            </section>
            <!-- formulario -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 titulos">
                        <h4>{% trans %}formulario_escenario_deportivo.title{% endtrans %}</h4>
                    </div>
                </div>
                <!-- Escenarios deportivos -->
                <div class="row">
                    <div class="col-md-4 iconoText2">
                        {% include 'AdminBundle:EscenarioDeportivo/Pasos:iconos.html.twig' with {vistaPaso: 3, 'idescenario': idescenario} %}
                    </div>
                    <div class="col-md-8 fondoAzul2">
                        {{ form_start(form, {'attr': {'id': 'formulario_escenario_deportivo', novalidate: 'true'} } ) }}
                            <div class="infoBox row">
                                <!-- Fútbol -->
                                <div class="col-xs-12 col-sm-12 col-md-12 contenedorInfoUno">
                                    <div class="col-md-12">
                                        <label>{% trans %}formulario_escenario_deportivo.labels.paso_tres.informacion_general{% endtrans %}<span>*</span></label>
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{% trans %}formulario_escenario_deportivo.labels.paso_tres.ancho{% endtrans %}</strong>
                                        {{form_widget(form.ancho)}}
                                        {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.ancho.vars.errors }%}
                                    </div>
                                    <div class="col-md-4">
                                        <strong>{% trans %}formulario_escenario_deportivo.labels.paso_tres.largo{% endtrans %}</strong>
                                        {{form_widget(form.largo)}}
                                        {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.largo.vars.errors }%}
                                    </div>
                                    {% if tieneProfundidad == true %}
                                        <div class="col-md-4">
                                            <strong>{% trans %}formulario_escenario_deportivo.labels.paso_tres.profundidad{% endtrans %}</strong>
                                            {{form_widget(form.profundidad)}}
                                            {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.profundidad.vars.errors }%}
                                        </div>
                                    {% endif %}
                                    <div class="col-md-12 form-group">
                                        <strong>{% trans %}formulario_escenario_deportivo.labels.paso_tres.subir_imagen{% endtrans %}</strong>
                                        {{form_widget(form.imagenEscenarioDividido)}}
                                    </div>
                                    <div class="col-md-12">
                                        <label>{% trans %}formulario_escenario_deportivo.labels.paso_tres.crear_divisiones{% endtrans %}</label>
                                    </div>
                                    <div class="col-md-12 " >
                                        <section class="col-xs-12 error-mesajes">
                                            {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.vars.errors }%}
                                            {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.divisiones.vars.errors }%}
                                        </section>
                                        {%
                                            form_theme form
                                                'AdminBundle:EscenarioDeportivo:divisiones.html.twig'
                                                'jquery.collection.html.twig'
                                        %}
                                        {{ form_row(form.divisiones) }}
                                    </div>

                                    
                                </div>
                                    
                                <div class="col-xs-12 col-sm-12 col-md-12 dos">
                                    <div class="col-md-12 division"></div>
                                    <div class="col-md-12">
                                        <a href="{{ path('admin_logic_escenariodeportivo_addpaso2', { 'id':idescenario } ) }}" class="btn btnVerde">
                                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                            Anterior
                                        </a>
                                        <span></span>
                                        {{ form_widget(form.save, { 'id': 'btnguardar', 'class' : 'btn btnVerde' }) }}
                                        <div style="display: none;">
                                            {{ form_rest(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
    {% endblock sonata_admin_content %}
    <script type="text/javascript">
        var $addDivisionLink = $('<div class="col-md-12 btnCentrar" ><a href="#" class="btn btnVerde btnSize add_division_link"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar división</a></div>');
        var $deleteDivisionLink = $('<div class="row btnCentrar"><div class="col-md-4 btnCentrar campoGris"><a href=""><button type="button" class="btn btnSize btnRojo"><i class="fa fa-minus-circle" aria-hidden="true"></i>Quitar esta división</button></a></div></div>');
        var $deleteDivisionLink = $('<a href=""><button type="button" class="btn btnSize btnRojo"><i class="fa fa-minus-circle" aria-hidden="true"></i>Quitar esta división</button></a>');
        
        $('.divisiones-collection').collection({
            name_prefix: '{{ form.divisiones.vars.full_name }}',
            drag_drop: '',
            allow_up: '',
            add:$addDivisionLink,
            remove: $deleteDivisionLink,
            up: '',
            down: '',
            duplicate: '',
            add_at_the_end: true,
            after_add: function(collection, element) {
                inder.escenarioDeportivo.setSelect2(element.attr('data-id'));
            }
        });
    </script>
    <style>
        .fileinput-cancel {
            display: none !important;
        }
        .fileinput-remove {
            display: inline !important;
        }
        .btn-default {
            background-color: #c7daef !important;
            color: #007385 !important;
            border-color: #bbb !important;
            -webkit-transition: background-color 0.3s ease-in-out !important;
            transition: background-color 0.3s ease-in-out !important;
        }
        .btn-default:hover {
            background-color: #007385 !important;
            color: #c7daef !important;
            border-color: #007385 !important;
            -webkit-transition: background-color 0.3s ease-in-out !important;
            transition: background-color 0.3s ease-in-out !important;
        }
        .btn-outline-secondary i{
            margin: auto !important;
        }
        strong label{
            color : #000000 !important;
            margin: 0px !important;
        }
        .collection-actions{
            display:none !important;
        }
        .margen-bottom-10{
            margin-bottom: 15px !important;
        }
    </style>
{% endblock sonata_page_content %}
