{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block sonata_wrapper %}

    <div class="content-wrapper ajuste-contenido p-top">
        <!-- Content Header (Page header) -->
        <div class="container">                    

            <!-- Main content -->
            <section class="content">

                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-12 connectedSortable">
                        <div class="box box-primary">
                            <div class="login-box">
                                <div class="login-logo">
                                    <a href="{{ path('sonata_admin_dashboard') }}">
                                        <span>{{ 'titulo.solicitud contrasena' |trans}}</span>
                                    </a>
                                </div>
                                <div class="login-box-body">
                                    <p>{{ 'formulario.reestablecer contrasena.revisar_email'|trans({
                                                                            '%tokenLifetime%': tokenLifetime,
                                                                            '%correo%': email
                                                                            })|nl2br }}</p>
                                    <a href="{{ path('sonata_user_admin_security_login') }}">{{ 'titulo.regresar inicio' |trans}}</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- /.Left col -->
                </div>
                <!-- /.row (main row) -->

            </section>
            <!-- /.content -->
        </div>
    </div>

{% endblock sonata_wrapper %}