{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('show', object) and admin.hasRoute('show') %}
    <a href="{{ path('admin_logic_preinscripcionoferta_list') }}?filter[oferta][value]={{object.id}}" class="btn btn-sm btn-default view_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-eye" aria-hidden="true"></i>
        {% if app.user.hasRole('ROLE_FORMADOR')  or app.user.hasRole('ROLE_SUPER_ADMIN') %}
            {{ 'boton.oferta.preinscritos'|trans}}
        {% else %}
            {{ 'boton.oferta.preinscribirme'|trans}}
        {% endif %}
    </a>
{% endif %}
