{% extends 'AdminBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/jquery-confirm.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/registro.css') }}">
    <style>
        .breadcrumb {
            padding: 8px 15px !important;
            margin-bottom: 20px !important;
            list-style: none !important;
            background-color: #f5f5f5 !important;
            border-radius: 4px !important;
            float: inherit !important;
        }
    </style>
{% endblock %}
{% block title %}AdminBundle:Registro:campo{% endblock %}
{% block sonata_page_content %}
    {% block sonata_admin_content %}
        <!-- Content Wrapper. Contains page content -->
        <div class="">

            <!-- Migas de pan -->
            <section class="container-fluid">
                <ol class="breadcrumb">
                    <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
                    <li><a href="{{ path('admin_logic_campoambiental_list') }}">Campos</a></li>
                    <li class="active">Crear</li>
                </ol>
            </section>
            <!-- formulario -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 titulos">
                        <h4>{% trans %}formulario_escenario_deportivo.title{% endtrans %}</h4>
                    </div>
                </div>
                <!-- Escenarios deportivos -->
                <div class="row">
                   
                    <div class="col-md-12 fondoAzul2">
                        {{ form_start(form, {'attr': {'id': 'formulario_campo', novalidate: 'true'} } ) }}
                            <div class="infoBox row">
                                <div class="col-xs-12 col-sm-12 col-md-12 contenedorInfoUno">
                                    <div class="col-md-12">
                                        {{form_label(form.nombre)}}
                                        {{form_widget(form.nombre)}}
                                        {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.nombre.vars.errors }%}
                                    </div>
                                    <div class="col-md-12">
                                        {{form_label(form.tipoEntrada)}}
                                        {{form_widget(form.tipoEntrada)}}
                                        {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.tipoEntrada.vars.errors }%}
                                    </div>
                                    <div class="col-md-12 opcionesCampo" data-val="{{tipoEntrada}}" >
                                        <section class="col-xs-12 error-mesajes">
                                            {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.vars.errors }%}
                                            {% include 'AdminBundle:CRUD:errores_campos.html.twig' with { errors : form.opcionesCampo.vars.errors }%}
                                        </section>
                                        {%
                                            form_theme form
                                                'AdminBundle:Campo:opcion.html.twig'
                                                'jquery.collection.html.twig'
                                        %}
                                        {{ form_row(form.opcionesCampo) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 dos">
                                    <div class="col-md-12 division"></div>
                                    <div class="col-md-12">
                                        <span></span>
                                        <div class="col-md-12">
                                            {{ form_widget(form.save, { 'id': 'btnguardar', 'class' : 'btn btnVerde' }) }}
                                        </div>
                                        <div style="display: none;">
                                            {{ form_rest(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            
            $('.opcionesCampo-collection').collection({
                name_prefix: '{{ form.opcionesCampo.vars.full_name }}',
                drag_drop: '',
                allow_up: '',
                add:'<a href="#" class="btn btnVerde btnSize add_division_link"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar Campo</a>',
                remove:'<a href="#" class="btn btnRojo btnSize add_division_link"><i class="fa fa-minus-circle" aria-hidden="true"></i>Quitar Campo</a>',
                up: '',
                down: '',
                duplicate: '',
                add_at_the_end: true,
                after_add: function(collection, element) {
                    //inder.escenarioDeportivo.setSelect2(element.attr('data-id'));
                }
            });
        </script>
        <!-- /.content-wrapper -->
    {% endblock sonata_admin_content %}
{% endblock sonata_page_content %}
