<td class="sonata-ba-list-field" objectid="{{object.id}}">
    <ul style="list-style: none; padding-left: 0px;">
        <li>{{ 'titulo.desde' | trans}}: {{object.getFechaInicial |date('d-m-Y')}}<Li>
        <li>{{ 'titulo.hasta' | trans}}: {{object.getFechaFinal|date('d-m-Y')}}<Li>
    </ul>
</td>
