<table class="table" style="width: 600px; margin: auto; text-align: center;background-color: #ecf0f5;border: 0.5px solid #ecf0f5">
    <tbody style="-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); border-radius: 0 0 10px 10px">
        <tr>
            <td style="padding: 25px 120px; border: none; background-color: #fff;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/admin/img/icono-email-i.png') }}">
                <h2 style="border-bottom: 2px solid #0099b1;">{{ 'Estado de la solicitud' | trans }}.</h2>
            </td>
        </tr>
        <tr style="background-color: #ecf0f5;">
            <td style="padding: 25px 70px; border: none">
                <p style="color: #000; font-size: 16px;">
                    {{ 'correos.cambiossolicitud.mensaje'|trans({'%estado%': estado}) }}
                    <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a>
                </p>
                <b>{% trans %}correos.cambiossolicitud.tituloobservaciones{% endtrans %}</b>
                {% if objeto.aprobado %}
                    <p>
                        {{ 'correos.cambiossolicitud.mensajevigencia'|trans({'%vigencia%': objeto.vigencia|date("Y-m-d")}) }}
                    </p>
                {% else %}
                    <p>
                        {{ objeto.observaciones }}
                    </p>
                {% endif %}
                <a href="{{ url('sonata_admin_dashboard') }}">
                    <img style="cursor: pointer; margin-top: 15px" src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/admin/img/btn-email.png') }}">
                </a>            
            </td>
        </tr>
        <tr>
            <td style="border: none; padding: 0">
                <img style="width: 600px;" src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/admin/img/barra-verde-email.png') }}">
            </td>
        </tr>
        <tr style="background-color: #0099b1; display: flex; align-items: center; justify-content: center; padding: 30px; border-radius: 0 0 10px 10px;">
            <td style="border: none; width: 100%;">
                <img src="{{ app.request.getSchemeAndHttpHost() }}{{ asset('bundles/admin/img/logo-email.png') }}">
                <p><a href="{{ app.request.getSchemeAndHttpHost() }}" style="color: #fff; font-size: 16px;">{{ app.request.getSchemeAndHttpHost() }}</a></p>
            </td>
        </tr>
    </tbody>
</table>